* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 1330px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navigation-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    box-sizing: border-box;
}

.slider-button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #69adce; 
    border: none;
    color: white;
    font-size: 25px;
    position: absolute;
}

.slider-button-prev {
}

.slider-button-next {
    right: 40px;
}

.slides-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #f4f4f4;
}

img {
    max-width: 290px;
    height: 430px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-container {
    width: auto;
    height: auto;
}

.text-container {
    padding: 30px;
}

h1 {
    margin-bottom: 15px;
    font-size: 35px;
}

p {
    font-size: 18px;
}

.pagination-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    column-gap: 20px;
}

.pagination-btn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #d0d0d0;
    border: none;
    
}

.pagination-btn.active {
    background-color: #69adce;
}