h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

body.dark-mode h1 {
    color: #FFFFFF;
}

.todo-wrapper {
    margin: 0 auto;
    min-height: 300px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgb(194, 210, 218);
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

body.dark-mode .todo-wrapper {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.form-todo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 30px;
}

.input-todo {
    margin-right: 20px;
    width: 200px;
    border-color: rgb(0, 149, 255);
    border-radius: 3px;
    text-align: center;
}

body.dark-mode .input-todo {
    background-color: #333;
    color: white;
}

.btn-todo {
    background-color: rgb(0, 149, 255);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

body.dark-mode .btn-todo {
    background-color: #0056b3;
}
